
{% extends '::layout/layout.html.twig' %}

{% block body %}
        
	<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <form action="{{ path ('validation') }}">
                            <h4>Adresse de livraison</h4>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                3b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                4b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                5b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            
                            <br /><br />
                            
                            <h4>Adresse de facturation</h4>
                            <label class="radio">
                                <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked="">
                                3b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked="">
                                4b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked="">
                                5b rue jules paulo, 75 000 Paris <a href="#"><i class="icon-trash"></i></a>
                            </label>
                            <button class="btn btn-primary">Valider mon adresse de livraison</button>
                        </form>
                    </div>

<div class="span4">
                        {% if adr|length != 0 %}
                        <form action="{{ path('validation') }}" method="POST">
                            
                            <h4>Adresse de livraison</h4>
                            {% for adresse in adr %}
                            <label class="radio">
                                <input type="checkbox" id="optionsRadios1 name="livraison" value="{{ adresse.id }}" {% if adresse.livraison == 1 %}checked="checked"{% endif %}>
                                {{ adresse.Adresse }}, {{ adresse.CodePostal }} {{ adresse.Ville }} <a href="#"><i class="icon-trash"></i></a>
                                <br />{{ adresse.prenom }} {{ adresse.nom }}  <br />{{ adresse.Tel}}
                            </label>
                            {% endfor %}
                            
                       

                            <br /><br />

                         
                            <h4>Adresse de facturation</h4>
                            {% for adresse in adr %}
                            <label class="radio">
                                <input type="radio" id="optionsRadios1 name="facturation" value="{{ adresse.id }}" {% if adresse.facturation == 1 %}checked="checked"{% endif %}>
                                {{ adresse.Adresse }}, {{ adresse.CodePostal }} {{ adresse.Ville }} <a href="#"><i class="icon-trash"></i></a>
                                <br />{{ adresse.prenom }} {{ adresse.nom }}  <br />{{ adresse.Tel}}
                            </label>
                            {% endfor %}
                            <br />
                          <button class="btn btn-primary">Valider mes adresses</button>    
                        </form>
                        {% endif %}

     </div>




								<div class="span4 offset2">
									<h4>Ajouter une nouvelle adresse</h4>
								                   <td> 
                                <form action="{{ path('addAdresse') }}" method="post">
                                		<label>Nom</label>
										<input type="text" name = "nom">
										
										<label>Prénom</label>
										<input type="text" name = "prenom">
										
										<label>Adresse</label>
										<input type="text" name = "addresse">
										
                                        <label>Complement</label>
										<input type="text" name = "complement">	

										<label>Ville</label>
										<input type="text" name = "ville">					

										<label>Pays</label>
										<input type="text" name = "pays">	

                                        <label>Code postal</label>
										<input type="text" name = "cp">
                                                                                
										<label>Téléphone</label>
										<input type="text" name = "tel">                                        
                                        
                                        <br />
										<button class="btn btn-primary">Ajouter</button>
									</form>
								</div>
							</div>
						</div>
        		</div>
	</div>

                    {{ dump(adr)}};
{% endblock %}